# Copyright (C) 2020 Robert Coffey
# Released under the GPLv2 and OLC-3 licenses

*

!levels/
!levels/*

!sprites/
!sprites/*

!src/
!src/*.h
!src/*.cpp
src/olc*.h

!.gitignore
!LICENSE
!README.md
!makefile
